---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: concept-catalog
  labels:
    app: concept-catalog
spec:
  template:
    spec:
      containers:
        - name: concept-catalog
          env:
          - name: NAMESPACE
            valueFrom:
              secretKeyRef:
                name: common
                key: NAMESPACE
          - name: MONGODB_USER
            valueFrom:
              secretKeyRef:
                name: concept-catalog
                key: MONGODB_USER
          - name: MONGODB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: concept-catalog
                key: MONGODB_PASSWORD
          - name: MONGODB_HOST
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: MONGODB_HOST
          - name: MONGODB_REPLICASET
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: MONGODB_REPLICASET
          - name: MONGODB_AUTH
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: MONGODB_AUTH
          - name: COLLECTION_BASE_URI
            valueFrom:
              secretKeyRef:
                name: commonurl
                key: CONCEPT_CATALOG_BASE_URI
          - name: KEYCLOAK_OIDC_ISSUER
            valueFrom:
              secretKeyRef:
                name: keycloak
                key: KEYCLOAK_OIDC_ISSUER
          - name: RABBIT_USERNAME
            valueFrom:
              secretKeyRef:
                name: rabbitmq
                key: RABBITMQ_USERNAME
          - name: RABBIT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: rabbitmq
                key: RABBITMQ_PASSWORD
          - name: CATALOG_HISTORY_SERVICE_URI
            valueFrom:
              secretKeyRef:
                name: commonurl
                key: CATALOG_HISTORY_SERVICE_HOST
          - name: CATALOG_ADMIN_SERVICE_URI
            valueFrom:
              secretKeyRef:
                name: commonurl
                key: CATALOG_ADMIN_SERVICE_BASE_URI
          - name: ELASTIC_KEYSTORE_PATH
            value: /var/secrets/elastic/keystores/keystore.jks
          - name: ELASTIC_KEYSTORE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: concept-catalog
                key: KEYSTORE_PASSWORD
          - name: ELASTIC_USERNAME
            valueFrom:
              secretKeyRef:
                name: es-user-concept-catalog
                key: username
          - name: ELASTIC_PASSWORD
            valueFrom:
              secretKeyRef:
                name: es-user-concept-catalog
                key: password
          - name: ELASTIC_HOST
            valueFrom:
              secretKeyRef:
                name: elasticsearch-es
                key: ELASTIC_HOST
          - name: CORS_ORIGIN_PATTERNS
            value: https://*.demo.fellesdatakatalog.digdir.no
